body, html {
    overflow-x: hidden;
}
.btn_menu:hover {
    background-color: rgb(153, 149, 149, 50%);
    outline: 2px solid black;
}

.btn_login {
    color: white;
    outline: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 130px;
    text-decoration: none;
}

.btn_login:hover {
    background-color: rgb(153, 149, 149, 50%);
}

.btn_sair {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }

    to {
        border-color: transparent;
    }
}

.titulo {
    overflow: hidden;
    border-right: 2px solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
}

.menu_user {
    color: white;
    font-style: italic;
    background-color: rgb(126, 126, 126, 70%);
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

.menu_user:hover {
    background-color: rgb(73, 69, 69);
}

.perfil_user {
    display: none;
    border: 2px solid black;
    flex-direction: column;
    position: absolute;
    background-color: rgba(54, 51, 51, 0.8);
    min-width: 100px;
    height: 210px;
    top: 68px;
    right: 45px;
    box-shadow: 3px 3px 16px 0px rgba(231, 224, 224, 0.7);
    z-index: 2;
    font-size: 18px;
    padding: 5px;
    animation: moveLeft 0.5s ease-in-out 1;
}

@keyframes moveLeft {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0px);
    }
}

@media (max-width: 500px) {
    .perfil_user {
        top: 90px;
        right: 70px;
    }
}