@keyframes animateZoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(2);
    }
}

.zoom {
    animation: animateZoom 1s linear infinite;
    transition: transform 0.5s ease-in-out;
}